In [30]:
pip freeze > requirements.txt

Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: pillow in /Users/amenaghawon/Documents/projectenv/lib/python3.10/site-packages (10.0.0)
Note: you may need to restart the kernel to use updated packages.

In [22]:
import pandas as pd
import ast
import re
import string
import csv

from gensim.utils import tokenize

In [7]:
#import cleaned data

def list_converter(text):
    #to revert list->str conversion from pd.read_csv
    return ast.literal_eval(text)


data = pd.read_csv('Data/training_corpus.csv', converters ={'tokens':list_converter})

In [8]:
data = data.drop(columns = ['index'])
print (data.shape)
data.head()

(99186, 7)

,text_type,ID,year,long_text,clean_text,word_count,tokens
0,comment,gtfo2hl,2021,"*Cuntry roads, take me hoem*",cuntry roads hoem,3,"[cuntry, road, hoem]"
1,comment,gtfqkbv,2021,"That’s been there for several years, sent a pi...",years sent pic cuntry friend long time ago,8,"[year, send, pic, cuntry, friend, long, time, ..."
2,comment,gtfou07,2021,I am single and I have not traveled to any cun...,single traveled cuntry past year,5,"[single, travel, cuntry, past, year]"
3,comment,gtfrgpe,2021,What happens when you shop at dragon mart...,happens shop dragon mart,4,"[happen, shop, dragon, mart]"
4,comment,gthiiwi,2021,"That’s just absolutely hilarious, is this in t...",absolutely hilarious springs souk,4,"[absolutely, hilarious, spring, souk]"

In [11]:
#include column with additional stopwords removal
#created the filtered corpus from another notebook and imported it here for use
# Read the file
with open('updated_corpus new2.txt', 'r') as f:
    updated_tokens = f.readlines()

# Remove newline characters
updated_tokens = [line.strip() for line in updated_tokens]


data['updated_tokens'] = updated_tokens

In [18]:
#convert list of strings to dataframe column with list of tokens on each row
data['updated_tokens'] = data['updated_tokens'].apply(lambda x: list(tokenize(x)))

In [19]:
#dataframe of all empty token lists due to removal of additional stopwords
empty_tokens = data[data['updated_tokens'].apply(lambda x: len(x) == 0)]

empty_tokens.shape

(4158, 8)

In [20]:
#adjust corpus to remvoe rows with empty token lists
row_id = empty_tokens['ID'] #id of rows with empty token list

updated_data = data[~data['ID'].isin(row_id)]
updated_data

,text_type,ID,year,long_text,clean_text,word_count,tokens,updated_tokens
0,comment,gtfo2hl,2021,"*Cuntry roads, take me hoem*",cuntry roads hoem,3,"[cuntry, road, hoem]",[road]
2,comment,gtfou07,2021,I am single and I have not traveled to any cun...,single traveled cuntry past year,5,"[single, travel, cuntry, past, year]","[single, travel, past]"
3,comment,gtfrgpe,2021,What happens when you shop at dragon mart...,happens shop dragon mart,4,"[happen, shop, dragon, mart]","[shop, dragon, mart]"
4,comment,gthiiwi,2021,"That’s just absolutely hilarious, is this in t...",absolutely hilarious springs souk,4,"[absolutely, hilarious, spring, souk]","[hilarious, spring, souk]"
6,comment,gtfw6yj,2021,Eugene's first day as a signwriter for Country...,eugene s day signwriter country artificial pro...,8,"[eugene, s, day, signwriter, country, artifici...","[artificial, product]"
...,...,...,...,...,...,...,...,...
99181,submission,14f46ji,2023,"Best beauty saloons in Dubai? Hello fellas, I ...",best beauty saloons dubai hello fellas moved w...,35,"[good, beauty, saloon, dubai, hello, fellas, m...","[beauty, saloon, hello, wife, real, saloon, re..."
99182,submission,14f4uyi,2023,Found the r/dubai redditors who kept telling m...,found r dubai redditors kept telling know navi...,10,"[find, r, dubai, redditor, keep, tell, know, n...","[navigate, roundabout]"
99183,submission,14f4ri3,2023,Scam ? Healthy.line My sister has a CBD debit ...,scam healthy line sister cbd debit card month ...,47,"[scam, healthy, line, sister, cbd, debit, card...","[scam, healthy, line, sister, cbd, debit, card..."
99184,submission,14f4k3r,2023,Thoughts on Expo City properties? Anyone else ...,thoughts expo city properties checked expo cit...,21,"[thought, expo, city, property, check, expo, c...","[expo, property, expo, sale, page, pleasant, p..."
99185,submission,14f8d30,2023,What to do when the neighbour parks like this?...,neighbour parks like hello dubai community guy...,19,"[neighbour, park, like, hello, dubai, communit...","[neighbour, park, hello, community, meet, park..."

In [23]:
#save filtered corpus to data

filename = 'Data/filtered_corpus.csv'

def export_csv():
    '''
    export filtered data to CSV
    '''
    updated_data.to_csv(filename, index_label = 'index', quoting = csv.QUOTE_ALL, header = True)

export_csv()